@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Not Found</title>
</head>
<body>
    <h2>Sorry, the requested resource was not found.</h2>
</body>
</html>